<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>The Best Airport Management System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/global.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Lunatech Airport Management Systems</h1>
	<h2>Reports</h2>
	<div>

		<h3>Countries with the Highest Number of Airports</h3>
		<table>
			<tr>
				<th>Country</th>
				<th>Number of airports</th>

			</tr>
			<tr th:each="instance : ${airportHighest}">
				<td th:text="${instance.key}">country</td>
				<td th:text="${instance.value}">number</td>
			</tr>
		</table>

		<h3>Countries with the Lowest Number of Airports</h3>
		<table>
			<tr>
				<th>Country</th>
				<th>Number of airports</th>

			</tr>
			<tr th:each="instance : ${airportLowest}">
				<td th:text="${instance.key}">country</td>
				<td th:text="${instance.value}">number</td>
			</tr>
		</table>

		<h3>Type of Runways Per Country</h3>
		<table>
			<tr>
				<th>Country</th>
				<th>Type of Runways</th>

			</tr>
			<tr th:each="runway : ${runways}">
				<td th:text="${runway.country.name}">country</td>
				<td>
					<ul th:each="runway : ${runway.runways}">
						<li th:text="${runway.surface}"></li>
					</ul>
				</td>
			</tr>
		</table>

	</div>
	<p>
		<a href="home">Return home</a>
	</p>
</body>
</html>